:host {
  .contact {
    padding: 60px 0;
    .contact-info {
      margin-bottom: 20px;
      text-align: center;
      i {
        font-size: 48px;
        display: inline-block;
        margin-bottom: 10px;
      }
      address,
      p {
        margin-bottom: 0;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
    }
    .contact-address,
    .contact-phone,
    .contact-email {
      margin-bottom: 20px;
    }
    @media (min-width: 768px) {
      .contact-address,
      .contact-phone,
      .contact-email {
        padding: 20px 0;
      }
    }

    @media (min-width: 768px) {
      .contact-phone {
        border-left: 1px solid currentColor;
        border-right: 1px solid currentColor;
      }
    }
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
