<footer class="shadow-lg">
  <div class="container my-5">
    <div class="row gy-2 justify-content-center">
      <div
        class="col-xl-4 col-lg-4 col-md-6 footer-links d-flex flex-column justify-content-center align-items-center"
      >
        <h3>BluePrints</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
          repellendus molestiae suscipit a nihil debitis non, tempore architecto
          voluptatibus alias?
        </p>
        <div class="social-links d-flex mt-4 icons">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-telegram"></i></a>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 footer-links d-flex flex-column justify-content-center align-items-center"
      >
        <h3>Our Services</h3>
        <ul class="text-body-secondary">
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-6 footer-links d-flex flex-column justify-content-center align-items-center"
      >
        <h2>Contact Us</h2>
        <p>
          A108 Adam Street <br />
          New York, NY 535022<br />
          United States <br /><br />
          <strong>Phone:</strong> +1 5589 55488 55<br />
          <strong>Email:</strong> {{ "info@example.com" }}<br />
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="copyright text-body">
        &copy; Copyright <strong><span class="active">Blueprints</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a [href]="['https://github.com/samuel-cossa']"
          ><b class="designer active">Samuel<span class="active">Cossa</span></b
          ><i class="bi active bi-github"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
