<section>
  <div class="container">
    <app-page-header
      [title]="heroTitle"
      [paragraph]="heroText"
    ></app-page-header>
    <div class="row my-5 shadow rounded-3">
      <div class="col-md-6">
        <h1 class="title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex explicabo
          nemo quod illo! Nisi, animi velit veritatis quam impedit adipisci?
        </h1>
        <h2 class="desc">
          Turning you Idea into Reality. We brig together the teams from global
          tech industry
        </h2>
      </div>
      <div class="col-md-6">
        <h1 class="title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum corrupti
          temporibus optio recusandae labore nulla!
        </h1>
      </div>
    </div>
  </div>
</section>
